html{font-size: 16px;}
.bscontain{
    width:85%;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.25);
    margin: 0 auto;
    max-width: 1400px;
    min-width: 400px;
  }
  ::-webkit-scrollbar {
      display: none;
  }
.comment{
  padding:10px;
  border: 1px solid #558971;
}
.small{
  width:150px;
  height:150px;
  margin:5px;
  display:inline-block;
}
.tiny{
  width:50px;
  height:50px;
  margin:5px;
  display:inline-block;
}
header{
    padding:  5px 10px;
}
nav ul{
    background-color: #f6f6f6;
    padding:7px;
    text-align: center;
}
nav ul li{
    list-style: none;
    display:inline;
    font-size: 15px;
    margin: 1px 3.5%;
    float: none;
    border: 1px solid #f6f6f6;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    border-bottom: 3px solid #eee;
    color:#558971;
    padding:4px;
}
nav ul li a:hover{
    border-bottom: 3px solid #558971;
}

.thisnav{border-bottom: 3px solid #558971;}

.fright{float:right;}
.fleft{float:left;}
.mottotextcontainer{display: inline;}


iframe{
  width:300px;
  height:300px;
}

.dotborder{
    border-top: 1.5px dotted lightgrey;
    margin-top: 10px;
    padding: 15px;

}
.content{
    color:#686363;
    font-family: "Calibri";
    font-weight: normal;
    font-size: 16px;
    padding:5px;
}
.dotborder p , .dotborder a{
  margin:10px;
}
.dik{font-weight: bold;}
.groot{font-size: 1.2em;}
.bullet{margin:0 5px}

.vertcontainer{
    width:30%;
    display: inline-block;
    margin:5%;
    line-height: normal;
//float:left;
}
.vertcontainer input[type="checkbox"] , input[type="checkbox"] + label{ width: 15px; height: 20px; display: inline;}

/*input[type="submit"]{height:20px;} */

.flexing{
    display: flex;
    flex-direction: row;
    align-items: center;
    display:block;
    flex-wrap: nowrap;
}

.mySlides {
    display: none;
}

.mySlides:first-of-type{
    display: block;
}

.w3-button{
    white-space:normal;
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;
    -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}

.w3-button:hover{
    color:#000!important;background-color:#ccc!important;
}

.green{
    border:1px solid #558971;
    background-color:#ebf2ef;
}
.grey{
    border:1px solid darkgrey;
    background-color:lightgrey;
}
.cloud {
    border-radius: 5px;
    width:93%;
    margin:15px;
    padding: 10px;
    float:left;
}
.cloud.grey{
  width: 27.7%;
  height: 80%;
}

.cloud[type="submit"]{
    background-color:  #558971;
}
.dotleft{
    border-left: 1.5px dotted lightgrey;
    padding: 15px;
}
.dotleft p {
    margin:10px;
}
.klijn {font-size: 0.7em}

.conthref{
  color:#4e856b;
  text-decoration: none;
}
.conthref:hover{color:black;}
.contac{
  text-decoration: none;
  color:white;
  border-radius: 5px;
  background-color: orange;
  border: 1px solid orange;
  padding: 1px 5px;
  padding-left: 20px;
  background-image: url("media/overig/page_white_acrobat.png");
  background-repeat: no-repeat;
  }
.contac:hover{
  background-color: #558971;
  border: 1px solid #558971;
}

@media only screen and (min-width:1100px){
  .vertcontainer input , .vertcontainer select{
    display: block;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #558971;
    margin-bottom: 15px;
    width: 230px;
  }
  .vertcontainer input[type="checkbox"] , input[type="checkbox"] + label{ width: 15px; height: 20px; display: inline;}
  .slogan{
    display:inline-block;
    margin-right:42px;
    width:40%;
    background-color: #558971;
    padding: 2px 5px;
    position: relative;
    justify-content: center;
    text-align: center;
  }
  .slogan p{
    font-style: italic;
    font-family: "Calibri";
    color:#fff;
    width:auto;
  }
  .slogan p:first-of-type{
    font-size: 17px;
    font-weight: bold;
  }
  .slogan p:nth-of-type(2){
    font-size: 15px;
  }
  .headerwifi,.headerlogo{
    display:inline;
    margin: 0 45px 0 15px;
  }
  .logo2contain{
    display: none;
  }
  .icon{display: none;}
}

@media only screen and (max-width:1100px){
  .mySlides{margin-left:calc(50vw - 310px);}
  .cloud.grey{
    width: 90%;
    font-size: 1.2em;
    text-align:center;
  }
  .dotborder{
    flex-direction: column;
  }
  .dotleft{
      border-left: none;
  }
  .cloud.grey input{margin-left:5%;}
  .vertcontainer input , .vertcontainer select{
    display: block;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #558971;
    margin-bottom: 15px;
    width: 190px;
  }
  .vertcontainer input[type="checkbox"] , input[type="checkbox"] + label{ width: 15px; height: 20px; display: inline;}
  .slogan{
    display:inline-block;
    margin-right:42px;
    width:40%;
    background-color: #558971;
    padding: 2px 5px;
    position: relative;
    justify-content: center;
    text-align: center;
  }
  .slogan p{
    font-style: italic;
    font-family: "Calibri";
    color:#fff;
    width:auto;
  }
  .slogan p:first-of-type{
    font-size: 17px;
    font-weight: bold;
  }
  .slogan p:nth-of-type(2){
    font-size: 15px;
  }
  .headerwifi,.headerlogo{
    display:inline;
=======
    .slogan{
        display:inline-block;
        margin-right:42px;
        width:40%;
        background-color: #558971;
        padding: 2px 5px;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    .slogan p{
        font-style: italic;
        font-family: "Calibri";
        color:#fff;
        width:auto;
    }
    .slogan p:first-of-type{
        font-size: 17px;
        font-weight: bold;
    }
    .slogan p:nth-of-type(2){
        font-size: 15px;
    }
    .headerwifi,.headerlogo{
        display:inline;
        margin: 0 45px 0 15px;
    }
    .logo2contain{
        display: none;
    }
    .icon{display: none;}
}

    }
    .logo2contain{
        display: none;
    }
    nav ul li{
        margin: 1px 1.5%;
    }
    .icon{display: none;}
}
.dotdis{
    border-left: 1.5px dotted lightgrey;
    padding: 15px;
}

@media only screen and (max-width:750px){
  nav {height: 60px;}
  #foldmenu{min-height: 55px;}
  .vertcontainer input , .vertcontainer select{
    display: block;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #558971;
    margin-bottom: 15px;
    width: 90%;
  }
  .mySlides{
    margin-left:calc(50vw - 150px);
    width:250px;
    height:250px;
    }
  .vertcontainer input[type="checkbox"] , input[type="checkbox"] + label{ width: 35px; height: 30px; display: block;}
  .bscontain{
    box-shadow: none;
    height: 100%;
    width: 100%;
  }
  .slogan{
    display:inline-block;
    margin:2%;
    width:96%;
    background-color: #558971;
    padding: 2px 5px;
    text-align: center;
  }
  .flexing{
    text-align: center;
    width:100%;
  }
  .vertcontainer{
    display:block;
    width:70%;
  }
  label{font-size: 1.5em;}
  input , select{
    width:80%;
    font-size: 1.1em;
    height:40px;
  }
  .slogan p{
    font-style: italic;
    font-family: "Calibri";
    color:#fff;
    width:auto;
  }
  .slogan p:first-of-type{
    font-size: 17px;
    font-weight: bold;
  }
  .slogan p:nth-of-type(2){
    font-size: 15px;
  }
  .headerwifi , .headerlogo{
    display:none;
  }
  .logo2contain,.mottotextcontainer{
    display: inline-block;
  }
  .dotdis{
  display:block;
  border:none;
  padding:15px 5px;
  }
=======
    .bscontain{
        box-shadow: none;
        height: 100%;
        width: 100%;
    }
    .slogan{
        display:inline-block;
        margin:2%;
        width:96%;
        background-color: #558971;
        padding: 2px 5px;
        text-align: center;
    }
    .flexing{width:100%;}
    .vertcontainer{
        display:block;
        width:80%;
    }
    label{font-size: 1.5em;}
    input , select{
        width:80%;
        font-size: 1.1em;
        height:40px;
    }
    .slogan p{
        font-style: italic;
        font-family: "Calibri";
        color:#fff;
        width:auto;
    }
    .slogan p:first-of-type{
        font-size: 17px;
        font-weight: bold;
    }
    .slogan p:nth-of-type(2){
        font-size: 15px;
    }
    .headerwifi , .headerlogo{
        display:none;
    }
    .logo2contain,.mottotextcontainer{
        display: inline-block;
    }
    .fold li:not(:first-child) {display: none;}
    .icon {
        float: right;
        display: block;
    }
    .fold.respon {position: relative;}
    .fold.respon .icon {
        float:right;
    }
    .fold.respon li{
        float: none;
        display: block;
        text-align: left;
        font-size: 30px;
        margin-bottom: 15px;
    }
}
